<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<% if @listings.any? %>
  <% @listings.sort_by { |l| l.airbnb_id }.each do |listing| %>
    <listing :listing="<%= listing.to_json %>"></listing>
  <% end %>
<% end %>

<br>

<%= link_to 'All Hosts', hosts_path %>
