<h1>Editing Host</h1>

<%= render 'form', host: @host %>

<%= link_to 'Delete', @host, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', @host %> |
<%= link_to 'All Hosts', hosts_path %>
